* {
  font-family: bebas neue;
}

.title {
  font-size: 35px;
  letter-spacing: 2px;
  font-family: amatic sc;
  color: black;
  font-weight: bold;
  margin: 20px 0 40px 0;
}

.new-question-btn
{
  display: none;
  cursor: pointer;

}

.magic-ball-image {
  width: 400px;
  height: 430px;
  transition: all 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reveal-answer-btn,
.new-question-btn {
  width: 300px;
  height: 40px;
  cursor: pointer;
  background-color: maroon;
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.user-input {
  width: 300px;
  text-align: center;
  outline: none;
  margin: 20px 0;
  height: 35px;
  letter-spacing: 1px;
  font-size: 20px;
}

.answer {
  opacity: 0;
  transition: opacity 0.5s;
  letter-spacing: 1px;
  font-weight: bold;
  position: absolute;
  font-size: 20px;
  width: 100px;
  top: 33%;
  left: 46.5%;
  color: white;
  text-align: center;
  font-family: amatic sc;
}

@media screen and (max-width: 500px) {
  .answer {
    opacity: 0;
    transition: opacity 1s;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    color: white;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 38%;
    font-family: amatic sc;
  }

  .magic-ball-image {
    width: 400px;
    height: 430px;
    transition: all 0.5s ease;
  }
}
